html{
    scroll-behavior: smooth;
    scroll-padding: 40px;
}
body{
   margin: 0;
    background-color: #000000;
}
#section1{
    height: 100vh;
}

#section2{
    height: 70vh;
   
}
#section3{
    height: 40vh;
    background-color: #000000;
   
}
#section4{
    height: 80vh;
    background-color: #000000;
}
#section5{
    height: 100vh;
}



.bg-container{
background: url('/Photos/1st\ &\ 2nd\ page.jpg');
background-size: 100% 100%;
}
.navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.nav-list{
    display: flex;
    padding-bottom:150px;
    font-size: 20px;
}
  
  /* Links inside the navigation bar */
  a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: end;
    padding: 10px 30px;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  a:hover {
    background-color: #0b0b0b;
    color: rgb(226, 214, 214);
  }

.nav-item{
    list-style: none;
    margin-left: 10px;
}
p{
    color: aliceblue;
    font-size: 20px;

}
h3,h1{
    color: aliceblue;
}
.img2{
    width: 650px;
    height: 500px;
    display: flex;
    float: left;
}
.para2{
    padding-top: 10px;
    margin: 20px;
    padding-left: 50%;
}
.whyus{
    padding-top: 40px;
    padding-left: 200px;
    justify-content: center;
}
.img3{
    width: 550px;
    height: 600px;
    display: flex;
    float: left;
}
.para3{
    padding-top: 15%;
    margin: 80px;
    padding-left: 45%;
    line-height: 35px;
}
.Learn_more{
    padding-right:70px
}
.Client{
    margin: 150px;
   
}
.client1,.client2,.client3{
    width: 30%;
}
.contant{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.client-image{
    width: 80%;
}
footer{
  background-color: #000000;
}
.footer-container{
    width: 100%;
   
}
.socialicons{
    display: flex;
    justify-content: center;
}
.socialicons a{
    text-decoration: none; 
    padding: 10px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 50%;

}
.socialicons a{
    font-size: 1em;
    color: black;
    opacity: 0.9;
   
}
.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialicons a:hover{
    color: white;
    transition: 0.5s;
}
.footernav{
    margin: 30px;
}
.footernav ul{
    display: flex;
    justify-content: center;
}
.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.5em;
    opacity: 0.7;
    transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 1;
}
.footercopy{
    background-color: #000000;
    padding: 20px;
    text-align: center;
}
.footercopy p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    
}