body{
    margin: 0;
    background-color: #000000;
}
#section1{
    height: 100vh;
}

#section2{
    height: 70vh;
   
}
#section3{
    height: 40vh;
    background-color: #000000;
   
}
#section4{
    height: 80vh;
    background-color: #000000;
}
#section5{
    height: 100vh;
}



.bg-container{
background: url('/Photos/1st\ &\ 2nd\ page.jpg');
background-size: 100% 100%;
}
.navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.nav-list{
    display: flex;
    padding-bottom:150px;
    font-size: 20px;
}
  
  /* Links inside the navigation bar */
  a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: end;
    padding: 10px 30px;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  a:hover {
    background-color: #0b0b0b;
    color: rgb(226, 214, 214);
  }

.nav-item{
    list-style: none;
    margin-left: 10px;
}
p{
    color: aliceblue;
    font-size: 20px;

}
h3,h1{
    color: aliceblue;
}
.img2{
    width: 650px;
    height: 500px;
    display: flex;
    float: left;
}
.para2{
    padding-top: 10px;
    margin: 20px;
    padding-left: 50%;
}
.whyus{
    padding-top: 40px;
    padding-left: 200px;
    justify-content: center;
}
.img3{
    width: 550px;
    height: 600px;
    display: flex;
    float: left;
}
.para3{
    padding-top: 15%;
    margin: 80px;
    padding-left: 45%;
    line-height: 35px;
}
.Learn_more{
    padding-right: 15%;
}
.Client{
    margin: 150px;
    padding-left: 5%;
}