/* Reset default margin and padding */
body, h1, p ,ul{
    margin: 0;
    padding: 0;
}

/* Style for the navigation bar */
.navbar {
    width: 70px;
    height: 50px;
    
}
.navbar{
    padding-left: 50%;
}
.ourwork{
    padding-top: 150px;
    padding-right: 100px;
    margin: 0%;
}
/* Style for the navigation list */
.nav-list {
    list-style-type: none;
    display: flex;
    align-items: end;
    height: 100%;
    margin: 0;
   
}

/* Style for navigation items */
.nav-item {
    margin: 0 10px;
}

/* Style for navigation links */
.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Hover effect for navigation links */
.nav-item a:hover {
    text-decoration: underline;
}
/* Reset default margin and padding */


/* Set the height of each section to the viewport height */
.section {
    height: 100vh;
    display: flex;
    color: rgb(247, 236, 236);
    font-size: 24px;
    
}

/* Define different backgrounds for each section */
#section1 {
    background-image: url('./photos/Home\ page.jpeg');
    background-size: cover;
}

#section2 {
    
    background-repeat: no-repeat;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    
}

#section3 {
    background-color: black;
}

/* Adjust text color for visibility */
#section3 {
    color: rgb(241, 235, 235);
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10%;
    height: 12%;
}
